# Note: For people who want to skip this part, they can directly read data from the data_folder

In [ ]:
import ast
import json
import io
import random
import sys

import boto3
import numpy as np
import pandas as pd
import requests

from collections import defaultdict
from datetime import datetime
from math import radians, cos, sin, asin, sqrt
from operator import itemgetter
from time import time

from sklearn.preprocessing import LabelEncoder

# Check  RAM

In [2]:
import psutil
svmem = psutil.virtual_memory()
print ('Avaible RAM: {:.2f} GB'.format(svmem.available/1024**3))

Avaible RAM: 29.55 GB

# Explore the Data
### 1. Store data

In [3]:
stores = [{'shop_name': 'Britt Shop', 'lat': '-22.814785', 'lon': '-43.246648', 'terminal': '2', 'level': '2', 'category': 'mall'}, 
          {'shop_name': 'Chilli Beans', 'lat': '-22.810656', 'lon': '-43.251344', 'terminal': '2', 'level': '1', 'category': 'fashion_accessories'}, 
          {'shop_name': 'Dufry', 'lat': '-22.814478', 'lon': '-43.246993', 'terminal': '2', 'level': '1', 'category': 'mall'}, {'shop_name': 'Empório do Aço', 'lat': '-22.814102', 'lon': '-43.247083', 'terminal': '2', 'level': '1', 'category': 'undecided'}, {'shop_name': 'FOM', 'lat': '-22.815046', 'lon': '-43.246425', 'terminal': '2', 'level': '0', 'category': 'undecided'}, {'shop_name': 'MAC Cosmetics', 'lat': '-22.815055', 'lon': '-43.245235', 'terminal': '2', 'level': '0', 'category': 'beauty_cosmetics'}, {'shop_name': 'O Boticário', 'lat': '-22.815241', 'lon': '-43.245805', 'terminal': '2', 'level': '0', 'category': 'undecided'}, {'shop_name': 'Sunglass Hut', 'lat': '-22.815092', 'lon': '-43.246551', 'terminal': '2', 'level': '2', 'category': 'undecided'}, {'shop_name': 'Granado Pharmacias', 'lat': '-22.814334', 'lon': '-43.245584', 'terminal': '2', 'level': '1', 'category': 'beauty_cosmetics'}, {'shop_name': "L'Occitane", 'lat': '-22.81408', 'lon': '-43.246212', 'terminal': '2', 'level': '1', 'category': 'beauty_cosmetics'}, {'shop_name': 'Maybelline New York', 'lat': '-22.813864', 'lon': '-43.247713', 'terminal': '2', 'level': '2', 'category': 'beauty_cosmetics'}, {'shop_name': 'Livraria Leitura', 'lat': '-22.815175', 'lon': '-43.244505', 'terminal': '2', 'level': '1', 'category': 'books_magazines'}, {'shop_name': 'WH Smith', 'lat': '-22.8183', 'lon': '-43.243186', 'terminal': '2', 'level': '2', 'category': 'books_magazines'}, {'shop_name': 'Hudson News', 'lat': '-22.814523', 'lon': '-43.247492', 'terminal': '2', 'level': '2', 'category': 'mall'}, {'shop_name': 'Air Farma', 'lat': '-22.814707', 'lon': '-43.246452', 'terminal': '2', 'level': '2', 'category': 'pharmacy'}, {'shop_name': 'Polo Ralph Lauren', 'lat': '-22.815023', 'lon': '-43.244533', 'terminal': '2', 'level': '1', 'category': 'fashion_accessories'}, {'shop_name': 'Amsterdam Sauer', 'lat': '-22.815071', 'lon': '-43.245252', 'terminal': '2', 'level': '1', 'category': 'fashion_accessories'}, {'shop_name': 'ARTY Rio', 'lat': '-22.815', 'lon': '-43.246107', 'terminal': '2', 'level': '2', 'category': 'fashion_accessories'}, {'shop_name': 'Bola Show', 'lat': '-22.813626', 'lon': '-43.247551', 'terminal': '2', 'level': '2', 'category': 'fashion_accessories'}, {'shop_name': 'Ehven Pedras', 'lat': '-22.81446', 'lon': '-43.245811', 'terminal': '2', 'level': '1', 'category': 'fashion_accessories'}, {'shop_name': 'Energia Natural', 'lat': '-22.814684', 'lon': '-43.247149', 'terminal': '2', 'level': '2', 'category': 'fashion_accessories'}, {'shop_name': 'Mr.Cat', 'lat': '-22.815476', 'lon': '-43.245408', 'terminal': '2', 'level': '1', 'category': 'fashion_accessories'}, {'shop_name': 'Track & Field', 'lat': '-22.811347', 'lon': '-43.251649', 'terminal': '1', 'level': '0', 'category': 'fashion_accessories'}]

### 2. Kiana data

In [4]:
def import_s3_data(files, single_file = True):
    """ Import data from S3 bucket and turn to dataframe without duplicates
    Args:
        files: single string name or a list of file names.
            Need to specify True/Fasle for the next param
        single_file: specify if multiple files to read, default True
        
    Return: 
        data_list: a list of data in dictionary format
    """
    bucket = 'kianadata'
    client = boto3.client(
        's3',
        aws_access_key_id = 'AKIAIBBPYL76IP2B5DLQ',
        aws_secret_access_key = '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')

    if single_file:
        file = files  # 'tps2000000000000'
        result = client.get_object(Bucket = bucket, Key = file) 
        text = result["Body"].read().decode('utf-8')  # S3 make the json file to a big string
        stringio_data = io.StringIO(text)  # fix it with StringIO to make readlines() func works
        data = stringio_data.readlines()  # read the StringIO obj line by line.
        data = list(map(json.loads, data))
        data = pd.DataFrame(data)
        data = data.drop_duplicates(keep = 'first', inplace = False)
        return data
    else:
        files = files
        data = pd.DataFrame()
        for file in files:
            tmp_result = client.get_object(Bucket = bucket, Key = file) 
            tmp_text = tmp_result["Body"].read().decode('utf-8')
            tmp_stringio_data = io.StringIO(tmp_text)
            tmp_data = tmp_stringio_data.readlines()
            tmp_data = list(map(json.loads, tmp_data))
            tmp_data = pd.DataFrame(tmp_data)
            tmp_data = tmp_data.drop_duplicates(keep = 'first', inplace = False)
            data = pd.concat([data, tmp_data], axis = 0)
        data.reset_index(drop = True, inplace = True)
        return data
    

def tps1_filename_generator(start_file_name = 'rio_bq_2019000000000030', end_file_name = 'rio_bq_2019000000000033'):
    """ Get all the data path from Kiana
    Arg:
        start_file_name: start path to Kiana data folder
        end_file_name: end path to Kiana data folder
    Return:
        files: list of file names
    """
    start_num, end_num = int(start_file_name[10:]), int(end_file_name[10:])
    files = []
    for num in range(start_num, end_num+1):
        files.append('rio_bq_201' + str(num))
        
    return files


def tps2_filename_generator(start_file_name, end_file_name):
    """ Get all the data path from Kiana
    Arg:
        start_file_name: start path to Kiana data folder
        end_file_name: end path to Kiana data folder
    Return:
        files: list of file names
    """
    start_num, end_num = int(start_file_name[3:]), int(end_file_name[3:])
    files = []
    for num in range(start_num, end_num+1):
        files.append('tps' + str(num))
    return files

### 3. Kiana files and its' corresponding time

In [5]:
with open('filetimeline.txt') as file:
    data_timeline = [eval(i.strip()) for i in file.readlines()]
data_timeline = [[v[0], pd.Timestamp(v[1], tz = 'UTC'), pd.Timestamp(v[2], tz = 'UTC')] for v in data_timeline]
data_timeline = sorted(data_timeline, key = lambda x: x[1])
data_timeline_df = pd.DataFrame(data_timeline, columns = ['file', 'startdate', 'enddate'])
data_timeline_df.head()

,file,startdate,enddate
0,tps2000000000120,2019-08-01 02:52:31.123000+00:00,2019-12-30 23:58:59.387000+00:00
1,tps2000000000104,2019-08-01 12:40:47.528000+00:00,2019-08-02 06:27:33.315000+00:00
2,tps2000000000122,2019-08-02 06:27:33.325000+00:00,2019-08-03 07:58:23.089000+00:00
3,tps2000000000123,2019-08-03 07:58:23.090000+00:00,2019-08-03 20:26:05.731000+00:00
4,tps2000000000125,2019-08-03 20:26:05.736000+00:00,2019-08-04 11:41:31.724000+00:00

In [6]:
def filter_data_by_date(data_timeline_df, start, end):
    """ Package the data in month by month
    Args:
        data_timeline_df: timeline of each data file
        start: start date
        end: end date
    Return:
        dataframe of the month
    """
    start_filter = data_timeline_df['startdate'] > pd.Timestamp(start, tz = 'UTC')
    end_filter = data_timeline_df['enddate'] < pd.Timestamp(end, tz = 'UTC')
    df_month = data_timeline_df[start_filter & end_filter]['file'].to_list()
    return df_month
file_aug = filter_data_by_date(data_timeline_df, '2019-08-01 00:00:00.000 UTC', '2019-09-01 00:00:00.000 UTC')
file_sep = filter_data_by_date(data_timeline_df, '2019-09-01 00:00:00.000 UTC', '2019-10-01 00:00:00.000 UTC')
file_oct = filter_data_by_date(data_timeline_df, '2019-10-01 00:00:00.000 UTC', '2019-11-01 00:00:00.000 UTC')
file_nov = filter_data_by_date(data_timeline_df, '2019-11-01 00:00:00.000 UTC', '2019-12-01 00:00:00.000 UTC')
file_dec = filter_data_by_date(data_timeline_df, '2019-12-01 00:00:00.000 UTC', '2020-01-01 00:00:00.000 UTC')

### 4. Exploring Data - By convenience, we only show on one month dataset

#### This part how are we going to know whether the users are interested in the store, two ways are provided:
1. Calculate the time that a user dwell on the same location, if the time is enough long then we consider the user is interested
2. Calculate whether the user has appeared in different location that near the store on one single day

In [7]:
df = import_s3_data(file_oct, single_file = False)

In [8]:
df.head()

,Building,ClientMacAddr,Level,lat,lng,localtime
0,TPS2,fc:64:3a:c7:6d:40,Level 3,-22.813459,-43.247231,2019-10-01 07:07:22.726 UTC
1,TPS2,58:d9:c3:74:ff:e8,Level 3,-22.815107,-43.245695,2019-10-01 07:07:22.772 UTC
2,TPS2,38:01:95:36:c0:aa,Level 3,-22.813371,-43.247114,2019-10-01 07:07:22.914 UTC
3,TPS2,88:32:9b:de:16:19,Level 3,-22.815592,-43.245642,2019-10-01 07:07:22.918 UTC
4,TPS2,c8:d7:19:fc:32:1a,Level 3,-22.814763,-43.246934,2019-10-01 07:07:22.92 UTC

In [9]:
df.shape

(14698391, 6)

#### Method 1:
#### 4.1 Given same location, how long has the user been there according to different times of records

From the below results we observed that 99.8% of the data did not meet the criteria

In [10]:
df = df[['ClientMacAddr', 'Level', 'lat', 'lng', 'localtime']]
df = df.groupby(['ClientMacAddr', 'Level', 'lat', 'lng']).agg(list)

In [11]:
df.head()

                                                                     localtime
ClientMacAddr     Level   lat        lng
00:00:00:00:00:00 Level 3 -22.815579 -43.245145  [2019-10-09 12:52:45.434 UTC]
                          -22.815534 -43.246465  [2019-10-09 13:18:58.826 UTC]
                          -22.815499 -43.245117  [2019-10-11 06:34:30.482 UTC]
                          -22.815495 -43.245088    [2019-10-11 06:37:17.2 UTC]
                          -22.815484 -43.245395  [2019-10-11 06:41:36.637 UTC]

In [12]:
def user_recording_situation(df, t = 1):
    """
    Given same location, the number of users
    recorded by the sensor at least once
    """
    df = df[df['localtime'].apply(len) > 1].reset_index()
    
    time_difference = []
    for i in range(len(df)):
        date_tmp = list(map(pd.Timestamp, df.iloc[i]['localtime']))
        s, f = date_tmp[0], date_tmp[-1]
        time_difference.append((f - s).seconds/60)
        
    time_difference = [i for i in time_difference if i > t]
    return time_difference, len(df)
experiment1, data_length1 = user_recording_situation(df, t = 1)
# print(experiment1)
print(data_length1)

1110651

In [13]:
def user_recording_situation2(df, t = 1):
    """
    Given same location, the number of users
    recorded by the sensor two times
    """
    df = df[df['localtime'].apply(len) == 2].reset_index()
    
    time_difference = []
    for i in range(len(df)):
        date_tmp = list(map(pd.Timestamp, df.iloc[i]['localtime']))
        s, f = date_tmp[0], date_tmp[-1]
        time_difference.append((f - s).seconds/60)
        
    time_difference = [i for i in time_difference if i > t]
    return time_difference, len(df)
experiment2, data_length2 = user_recording_situation2(df, t = 1)
# print(experiment2)
print(data_length2)

1109501

In [14]:
def user_recording_situation3(df, t = 1):
    """
    Given same location, the number of users
    recorded by the sensor three times
    """
    df = df[df['localtime'].apply(len) == 3].reset_index()
    
    time_difference = []
    for i in range(len(df)):
        date_tmp = list(map(pd.Timestamp, df.iloc[i]['localtime']))
        s, f = date_tmp[0], date_tmp[-1]
        time_difference.append((f - s).seconds/60)
        
    time_difference = [i for i in time_difference if i > t]
    return time_difference, len(df)
experiment3, data_length3 = user_recording_situation3(df, t = 1)
# print(experiment3)
print(data_length3)

517

In [15]:
def user_recording_situation4(df, t = 1):
    """
    Given same location, the number of users
    recorded by the sensor at over two times
    """
    df = df[df['localtime'].apply(len) > 2].reset_index()
    
    time_difference = []
    for i in range(len(df)):
        date_tmp = list(map(pd.Timestamp, df.iloc[i]['localtime']))
        s, f = date_tmp[0], date_tmp[-1]
        time_difference.append((f - s).seconds/60)
        
    time_difference = [i for i in time_difference if i > t]
    return time_difference, len(df)
experiment4, data_length4 = user_recording_situation4(df, t = 1)
# print(experiment4)
print(data_length4)

1150

##### given a user, the percentage that a user will be record at least two times on the same location (any time period)

In [16]:
print('Percentage: {:.2f}%'.format(data_length1 / df.shape[0] * 100))

Percentage: 8.18%

##### given a user, the percentage that a user will be record at least two times on the same location (at least a min)

In [17]:
print('Percentage: {:.2f}%'.format(len(experiment1) / df.shape[0] * 100))

Percentage: 0.10%

##### given a user, the percentage that a user will be record exactly two times on the same location (any time period)

In [18]:
print('Percentage: {:.2f}%'.format(data_length2 / df.shape[0] * 100))

Percentage: 8.17%

##### given a user, the percentage that a user will be record exactly two times on the same location (at least a min)

In [19]:
print('Percentage: {:.2f}%'.format(len(experiment2) / df.shape[0] * 100))

Percentage: 0.10%

#### given a user, the percentage that a user will be record at least three times on the same location (any time period)

In [20]:
print('Percentage: {:.2f}%'.format(data_length4 / df.shape[0] * 100))

Percentage: 0.01%

##### given a user, the percentage that a user will be record at least three times on the same location (at least a min)

In [21]:
print('Percentage: {:.2f}%'.format(len(experiment4) / df.shape[0] * 100))

Percentage: 0.01%

#### Method2 :
#### 4.2 How many users has recorded at least twice
From the below result we know the number of records is slightly better (1.7%)

In [22]:
df_multilocation = df\
    .reset_index()[['ClientMacAddr', 'Level', 'lat', 'lng']]\
    .groupby(['ClientMacAddr'])\
    .filter(lambda x: len(x.lat) > 1)

In [23]:
df_multilocation.head(10)

       ClientMacAddr    Level        lat        lng
0  00:00:00:00:00:00  Level 3 -22.815579 -43.245145
1  00:00:00:00:00:00  Level 3 -22.815534 -43.246465
2  00:00:00:00:00:00  Level 3 -22.815499 -43.245117
3  00:00:00:00:00:00  Level 3 -22.815495 -43.245088
4  00:00:00:00:00:00  Level 3 -22.815484 -43.245395
5  00:00:00:00:00:00  Level 3 -22.815474 -43.245197
6  00:00:00:00:00:00  Level 3 -22.815453 -43.245959
7  00:00:00:00:00:00  Level 3 -22.815448 -43.245235
8  00:00:00:00:00:00  Level 3 -22.815438 -43.245087
9  00:00:00:00:00:00  Level 3 -22.815431 -43.245473

In [24]:
df_multilocation.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12502711 entries, 0 to 13581329
Data columns (total 4 columns):
ClientMacAddr    object
Level            object
lat              float64
lng              float64
dtypes: float64(2), object(2)
memory usage: 476.9+ MB

In [25]:
df_multilocation2 = df\
    .reset_index()[['ClientMacAddr', 'Level', 'lat', 'lng']]\
    .groupby(['ClientMacAddr'])\
    .filter(lambda x: len(x.lat) > 1)\
    .groupby(['ClientMacAddr'])\
    .agg(list)

In [26]:
df_multilocation2.head()

,Level,lat,lng
ClientMacAddr,,,
00:00:00:00:00:00,"[Level 3, Level 3, Level 3, Level 3, Level 3, ...","[-22.81557861254514, -22.815534202285033, -22....","[-43.245145328793704, -43.246465287632645, -43..."
00:00:2b:f6:b0:be,"[Level 3, Level 3, Level 3, Level 3, Level 3, ...","[-22.8156582500481, -22.81565339195849, -22.81...","[-43.24564615475751, -43.24560126419177, -43.2..."
00:00:6a:b5:bb:6a,"[Level 3, Level 3, Level 3, Level 3, Level 3, ...","[-22.8156085641647, -22.815307352531374, -22.8...","[-43.24558805482006, -43.24581057261501, -43.2..."
00:00:fe:44:80:fe,"[Level 3, Level 3, Level 3, Level 3, Level 3, ...","[-22.81551427875405, -22.8154109655126, -22.81...","[-43.24586948973165, -43.24519214873529, -43.2..."
00:00:fe:96:8f:fe,"[Level 3, Level 3, Level 3, Level 3, Level 3, ...","[-22.8153524969023, -22.815323431437623, -22.8...","[-43.24561338872834, -43.24564480053938, -43.2..."

In [27]:
df_multilocation2.shape

(367953, 3)

In [28]:
df_nov = df_multilocation2.copy()

In [29]:
df_nov['Level'] = df_nov['Level'].apply(set)

In [30]:
df_nov = df_nov.drop('00:00:00:00:00:00')

In [31]:
df_nov = df_nov.reset_index()

In [32]:
df_nov.head()

,ClientMacAddr,Level,lat,lng
0,00:00:2b:f6:b0:be,{Level 3},"[-22.8156582500481, -22.81565339195849, -22.81...","[-43.24564615475751, -43.24560126419177, -43.2..."
1,00:00:6a:b5:bb:6a,{Level 3},"[-22.8156085641647, -22.815307352531374, -22.8...","[-43.24558805482006, -43.24581057261501, -43.2..."
2,00:00:fe:44:80:fe,{Level 3},"[-22.81551427875405, -22.8154109655126, -22.81...","[-43.24586948973165, -43.24519214873529, -43.2..."
3,00:00:fe:96:8f:fe,{Level 3},"[-22.8153524969023, -22.815323431437623, -22.8...","[-43.24561338872834, -43.24564480053938, -43.2..."
4,00:02:85:00:17:2b,{Level 3},"[-22.815669392349985, -22.81547520722988, -22....","[-43.2454758242048, -43.24606437024974, -43.24..."

# First step preprocessing and save the datasets
### Processing steps:
#### 1. drop duplicates
#### 2. select columns
#### 3. We treat records less than one minute on the same lat/long as duplicates and drop one of them.
#### 4. Group by users locations given the same day (MACID, local time).
#### 5. Drop records that recorded less than two locations recorded, which we need users to be at least three places on one single day.
#### 6. save the intermediate file

In [ ]:
monthly_files = [file_aug, file_sep, file_oct, file_nov, file_dec]
monthly_files_names = ['data_aug.csv', 'data_sep.csv', 'data_oct.csv', 'data_nov.csv', 'data_dec.csv']

In [ ]:
def first_preprocess(monthly_files):
    df = import_s3_data(monthly_files, single_file = False)
    df = df[['ClientMacAddr', 'Level', 'lat', 'lng', 'localtime']]
    df = df.groupby(['ClientMacAddr', 'Level', 'lat', 'lng']).agg(list)
    df = df.reset_index()
    df['localtime'] = df['localtime'].apply(lambda line: line[-1])
    df = df.copy()
    df['localtime'] = df['localtime'].apply(lambda line: line.split()[0])
    df = df.groupby(['ClientMacAddr', 'localtime'])\
        .filter(lambda x: len(x.lat) > 2)\
        .groupby(['ClientMacAddr','localtime'])\
        .agg(list)
    df['Level'] = df['Level'].apply(lambda line: list(set(line)))
    df = df.reset_index()
    return df


def collect_and_save():
    for i in range(len(monthly_files)):
        df = first_preprocess(monthly_files[i])   
        df.to_csv(monthly_files_names[i])
        del df
    print('complete data preparation!')

In [ ]:
df = first_preprocess(file_nov)
df.head()

In [ ]:
# collect_and_save()

# Futher Preprocessing and First Hand Feature engineering

#### load the intermediate file

## 1. Futher Preprocessing
#### Drop users that appear 17 days a month since they may be airport employees according to federal laws of Brazil.

## 2. First Hand Feature engineering - Simulate data
#### We get age and gender referene by [IndexMundi - Country ](Factshttps://www.indexmundi.com/brazil/demographics_profile.html) Reference from United Nation
* 0-14 years: 21.89% (male 23,310,437 /female 22,414,551)
* 15-24 years: 16.29% (male 17,254,084 /female 16,758,140)
* 25-54 years: 43.86% (male 45,449,158 /female 46,151,759)
* 55-64 years: 9.35% (male 9,229,665 /female 10,296,824)
* 65 years and over: 8.61% (male 7,666,845 /female 10,315,429) (2018 est.)

* at birth: 1.05 male(s)/female
* 0-14 years: 1.04 male(s)/female
* 15-24 years: 1.03 male(s)/female
* 25-54 years: 0.98 male(s)/female
* 55-64 years: 0.9 male(s)/female
* 65 years and over: 0.74 male(s)/female
* total population: 0.97 male(s)/female (2018 est.)

In [ ]:
def get_intermiate_data(file):
    bucket = 'kianadata'
    client = boto3.client(
        's3',
        aws_access_key_id = 'AKIAIBBPYL76IP2B5DLQ',
        aws_secret_access_key = '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')
    result = client.get_object(Bucket = bucket, Key = file) 
    text = result["Body"].read().decode('utf-8')  # S3 make the json file to a big string
    stringio_data = io.StringIO(text)  # fix it with StringIO to make readlines() func works
    data_dec = pd.read_csv(stringio_data)
    return data_dec

In [ ]:
data = get_intermiate_data('data_aug.csv')
data['localtime'] = data['localtime'].map(lambda line: datetime.strptime(line, '%Y-%m-%d'))
data.head()

In [ ]:
data.shape

In [ ]:
data.info()

In [33]:
def remove_employee(data):
    """ remove users that may seem to be airport employee (appear 17 days a month)
    """

    employee = data[['ClientMacAddr', 'localtime']].groupby(['ClientMacAddr'])\
        .filter(lambda x: len(x.localtime) > 17)\
        .groupby(['ClientMacAddr'])\
        .agg(list)
    employee = employee.reset_index()
    employee_list = list(set(employee['ClientMacAddr']))
    data = data.set_index('ClientMacAddr')
    data = data.drop(employee_list)
    try:
        data = data.drop(['00:00:00:00:00:00'])
    except:
        pass
    data = data.reset_index()
    return data

In [ ]:
data = remove_employee(data)

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
def topk_store(user_lat, user_lng, topk = 3):
    """Calculate topk_store given a pair of lat/lng    
    Args:
        user_lat: long1
        user_lng: lat1
        topk: top k stores
    Return: 
        A list of stores
    """
    store_ls  = []
    for store in stores:
        distance = haversine(user_lng, user_lat, float(store['lon']), float(store['lat']))
        store_ls.append((store['shop_name'], distance))
    store_ls = sorted(store_ls, key=lambda line: line[1])[:topk]
    store_ls = [store for store, dis in store_ls]
    return store_ls


def haversine(lon1, lat1, lon2, lat2):
    """ Calculate distnace given two lat/lng
    Args:
        lon1: long1
        lat1: lat1
        lon2: long2 
        lat2: lat1
    Return:
        distance in meter unit
    """
    lng1, lat1, lng2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    dlon = lng2 - lng1
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a))
    r = 6371 # 地球平均半径，单位为公里
    return c * r * 1000


def user_preference(lat_list, lng_list, stores):
    store_list = []
    for i in range(len(lat_list)):
        rowList = []
        for lat, lng in zip(lat_list[i], lng_list[i]):
            store_ls = topk_store(lat, lng, topk = 3)
            rowList.extend(store_ls)
        store_list.append(list(set(rowList)))
    return store_list
    

def fix_feature(feature):
    feature_list = list(map(ast.literal_eval, feature))
    feature_list = [ls[:3] for ls in feature_list]
    return feature_list


def encode_level(feature):
    """ onehot encoding for level feature
    """
    feature = list(feature)
    level1, level2, level3 = [], [], []
    for level in feature:
        if 'Level 1' in level:
            level1.append(1)
        else:
            level1.append(0)
        if 'Level 2' in level:
            level2.append(1)
        else:
            level2.append(0)
        if 'Level 3' in level:
            level3.append(1)
        else:
            level3.append(0)
    return level1, level2, level3


def merge_store_level(feature1, feature2_1, feature2_2, feature2_3, df):
    assert len(feature1) == len(feature2_1)
    assert len(feature2_1) == df.shape[0]
    df = df.copy()
    df['store'] = feature1
    df['level1'] = feature2_1
    df['level2'] = feature2_2
    df['level3'] = feature2_3
    df.drop(['lat', 'lng', 'Level'], axis = 1, inplace = True)
    return df


def macid_country_dict(mac_look_up_table_path):
    """ Get the hash table for macid and corresponding country
    Arg:
        mac_look_up_table_path: path to the MACID json file
    Return:
        mac_lookup_dic: dictionry to map macid and its country
    """
    with open(mac_look_up_table_path) as file:
        lookup_table = json.load(file) 
    
    mac_lookup_dic = defaultdict(list)
    for key, sub_key_val in lookup_table.items():
        if isinstance(sub_key_val, dict):
            mac_lookup_dic[key.strip().lower()] = sub_key_val['country'].strip().upper()

    mac_lookup_dic = {key.replace('-', ':'):val for key, val in mac_lookup_dic.items()}
    
    return mac_lookup_dic


def get_country(df, feature, mac_lookup_dic):
    """ Generate country from macid
    Args:
        df: Kiana data
        feature: the feature you think can extrac the country info
        mac_lookup_dic: hash table for macid and corresponding country
    Return:
        country_list: a list of country from macid
    """
    country_list = []
    for macid in df[feature]:
        try:
            country_code = macid[:8]
            country_list.append(mac_lookup_dic[country_code])
        except KeyError:
            country_list.append('UNKNOWN')
    return country_list


def generate_age(df_length):
    """ Age generator under specific probability
    """
    arr = ['0-14', '15-24', '25-54', '55-64', '65+']
    return np.random.choice(arr, len(df_length), p = [0.2189, 0.1629, 0.4386, 0.0935, 0.0861])


def generate_gender(df_length, gender_proportion):
    """ Age generator under specific probability
    """
    arr = ['male', 'female']
    return np.random.choice(arr, len(df_length), gender_proportion)


def feature_simulater(df, mac_look_up_table_path):
    """ Simulate age and gender according to the research above
    """
    df = df.copy()
    # country
    mac_lookup_dic = macid_country_dict(mac_look_up_table_path)
    df['country'] = get_country(df, 'ClientMacAddr', mac_lookup_dic)
    df['country'].replace('3', 'UNKNOWN', inplace = False)
    df['country'].replace('C.', 'UNKNOWN', inplace = False)
    # age
    df['age'] = generate_age(df)
    # gender
    df['gender'] = None
    df.loc[df.age == '0-14', 'gender'] = generate_gender(
        df.loc[df.age == '0-14'], [0.5098, 0.4902])
    df.loc[df.age == '15-24', 'gender'] = generate_gender(
        df.loc[df.age == '15-24'], [0.5074, 0.4926])
    df.loc[df.age == '25-54', 'gender'] = generate_gender(
        df.loc[df.age == '25-54'], [0.4949, 0.5051])
    df.loc[df.age == '55-64', 'gender'] = generate_gender(
        df.loc[df.age == '55-64'], [0.4737, 0.5263])
    df.loc[df.age == '65+', 'gender'] = generate_gender(
        df.loc[df.age == '65+'], [0.4253, 0.5747])
    return df


def generate_cat_from_store(stores):
    """ get the store category has table
    """
    cat_dic = {}
    for store in stores:
        storename = store['shop_name']
        cat_dic[storename] = store['category']
    return cat_dic


def get_category(feature, stores):
    """ get the user preference of store category
    """
    cat_dic = generate_cat_from_store(stores)
    categoryList = []
    for c in feature:
        if cat_dic[c[0]] != 'undecided':
            categoryList.append(cat_dic[c[0]])
        elif cat_dic[c[1]] != 'undecided':
            categoryList.append(cat_dic[c[1]])
        else:
            categoryList.append(cat_dic[c[2]])
    return categoryList


def feature_engineer_1(df):
    lng_list = fix_feature(df['lng'])
    lat_list = fix_feature(df['lat'])
    store_list = user_preference(lat_list, lng_list, stores)
    level1_list, level2_list, level3_list = encode_level(df['Level'])
    df = merge_store_level(store_list, level1_list, level2_list, level3_list, df)
    df = feature_simulater(df, 'mac_look_up_table.json')
    df['category'] = get_category(df['store'], stores)
    return df

In [ ]:
data_final = feature_engineer_1(data)

In [ ]:
data_final.head()

In [ ]:
data_final.to_csv('data_aug_featured.csv')

## 3. Load the preprocessed data

In [ ]:
df_aug = pd.read_csv('data_aug_featured.csv', index_col=[0])
df_sep = pd.read_csv('data_sep_featured.csv', index_col=[0])
df_oct = pd.read_csv('data_oct_featured.csv', index_col=[0])
df_nov = pd.read_csv('data_nov_featured.csv', index_col=[0])
df_dec = pd.read_csv('data_dec_featured.csv', index_col=[0])

In [ ]:
df_all = pd.concat([df_aug, df_sep, df_oct, df_nov, df_dec], axis = 0)

In [ ]:
df_all.shape

In [ ]:
df_all.head()